/* Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #e0ffff;
    color: black;
}

/* Headings */
h1, h2 {
    color: #333;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #0275d8;
}

/* Forms and Inputs Styling */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="number"],
input[type="date"]
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button,
input[type="submit"],
button[type="submit"],
button[type="button"] {
    padding: 10px 18px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #45a049;
}


/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #00bfff;
    color: black;
}

tr:nth-child(even) {
    background-color: #98fb98;
}